body{
    overflow-x: hidden;
}

*{
    overflow-x: hidden;
}
h1,h2,h3,h4,p,a,div{
    overflow-x:visible;
}
.navbar-custom{
    list-style: none;
    margin: 5px 20px;
}
.my-element {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
  }
  


.leading-regular {
    line-height: 1.25;
}

.font-regular {
    font-weight: 400;
}
.text-sm {
    font-size: 14px;
}
.text-center{
    text-align:center;
}

.discover-img{

    
    transition-property: opacity;
    transition-duration: 336ms;
    transition-timing-function: cubic-bezier(0.34, 0, 0.21, 1);
    opacity: 1;

}

.button-custom{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}



.secondary-heading{
font-size: 48px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
}

  .btn-md {
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.w-full {
    width: 100%;
}



.items-center {
    align-items: center;
}
.w-max {
    width: max-content;
}
.flex {
    display: flex;
}
.mr-\[6px\] {
    margin-right: 6px;
}
.mb-1\.5 {
    margin-bottom: 12px;
}
.float-left {
    float: left;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


ul, ol {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.content-topic{
        font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.25;
        color: rgba(0, 0, 0, 0.6);
    }

    .suggested{
        
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.25;
            color: rgba(0, 0, 0, 0.6);
        }
    .pco .row .col-md-6{
        overflow-x: hidden;
    }


@media screen and (max-width: 600px) {
    .navbar .rounded-pill {
      padding: 0.375rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
    .pco .row .col-md-6{
        display: none;
    }
    .footer{
        flex-direction: column;
    }
  }

  .navbar .rounded-pill {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
  }

  .tertiary-heading {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #b24020;
    width: 70%;
    height: 100%;
    
}
.btn-post{

    text-decoration: none;

}

.footer div{
    display: flex;
    flex-direction: column;
}
.footer div h1{
    font-size: 1rem;
}
.footer div a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #444;
}
.footer div a:hover{
    text-decoration: underline;
    color: #2196F3;
}
.cc img{
    filter: grayscale(1);
}
.cc a{
    font-size: 13px;
    text-decoration: none;
    color:#444 ;
}
.cc a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 155);
}
.h1-join{
    font-size: 56px;
    font-weight: 200;
}

.btn-special{
    margin-left: 90px;
   

}
.who{
    width: 100%
}






